.parallax {
    height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1bg{
  background-image: url('../../assets/background1.webp');
}

.parallax2bg{
    background-image: url('../../assets/background2.webp');
  }

  .parallax3bg{
    background-image: url('../../assets/contact-image.webp');
  }