.cardPrice {
    text-align: center;
    min-height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listPrice {
    list-style: none; /* Quitamos los marcadores */
    padding: 0; /* Quitamos el padding por defecto de la lista */
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;/* Separamos la lista de la izquierda */
    }
.listPrice::before { /* Añadimos contenido antes de cada elemento de la lista */
    content: "\2714"; /* Insertamos el marcador */
    padding-right: 2px; /* Establecemos el espacio entre las viñetas y el list item *//* Coloreamos la viñeta */
    color: var(--color3)
}

@media (min-width: 768px) { 
    .cardPrice {
        min-height: 650px;
    }
 }