.cardHome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 180px;
    flex-direction: column;
    padding: 5px;
    color: black;
}

.cardHome img {
    height: 50px;
    width: auto;
}