
.parallax {
    height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1bg{
  background-image: url('../assets/background1.jpg');
}

.parallax2bg{
    background-image: url('../assets/background2.jpg');
  }

.firstRow {
    background-color: var(--color4);
    color: var(--color1);
    padding: 15px;
}

.firstRow h1 {
    font-weight: 700;
}

.firstRow div img {
    width: 100%;
    max-width: 400px;
}

.bgStep {
    background-color: var(--color4);
}

article.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

article.card img {
    width: 60px;
}
@media (min-width: 768px) { 
    .parallax{
        height: 90vh;
    }
 }