

.firstRow {
    background-color: var(--color4);
    color: var(--color1);
    padding: 15px;
}

.firstRow h1 {
    font-weight: 700;
}

.firstRow div img {
    width: 100%;
    height: auto;
}

.secondRow {
    background: rgb(239,239,239);
}

.bgStep {
    background-color: var(--color4-alpha);
    border-radius: 5px;
}

.fontColor1 {
    color: var(--color4);
}

.text-shadow {
    text-shadow: 0px 0px 8px rgba(0,0,0,0.6);
}

.bg-body-tertiary {
    background-color: var(--color1) !important;
    color: var(--color4) !important;
}

@media (min-width: 768px) { 
    .parallax{
        height: 90vh;
    }

    .cardPrice {
        min-height: 650px;
    }
 }